/* the overlayed element */
#voverlay {
	
	/* growing background image */
	background-image:url(white.png);
	
	/* dimensions after the growing animation finishes  */
	width:640px;
	height:480px;

	
	/* initially overlay is hidden */
	display:none;
	
	
	
	/* some padding to layout nested elements nicely  */
	padding:38px 21px 21px 21px;
}

/* default close button positioned on upper right corner */
#voverlay .close {
	background-image:url(closee4.png);
	position:absolute;
	right:12px;
	top:7px;
	cursor:pointer;
	height:17px;
	width:17px;
}

#voverlay .vcontainer{
	left:0;
	top:0;
	width:100%;
	height:100%;	
	background:url(loading.gif) no-repeat 50% 50%;
}

#imgeee{
	width:488px;
	height:322px;
	position:absolute;
	left:34px;
	border:double;
	margin-top:0px;
	background-color:#09C;
	border:#030 2px groove;
	top: 11px;
}
	
#contvid {
	width:300px;
	position:absolute;
	height:420px;
	margin-left:522px;
	margin-top:180px;
	background-color:#09C;
	overflow:auto;
	border:#030 2px groove;
	border-radius:8px;
	left: 32px;
	top: -103px;
}

#imgee2{
	width:260px;
	height:180px;
	position:absolute;
	left:10px;
	margin-top:20px;
	
	background-image:url(back4.png);
	
}

#imgee3{
	width:211px;
	height:119px;
	position:absolute;
	left:27px;
	margin-top:20px;
	top: -1px;
	
}

#txt{
	width:230px;
	height:17px;
	overflow:auto;
	position:absolute;
	margin-left:13px;
	margin-top:140px;
	font-family:Tahoma, Geneva, sans-serif;
}

#pl1{
	width:67px;
	height:66px;
	position:absolute;
	background-image:url(playvideo-64-64-0.png);
	left: 95px;
	top: 43px;
}


#imgee22{
	width:500px;
	height:329px;
	position:absolute;
	left:42px;
	margin-top:20px;
	background-image:url(back5.png);
	top: -3px;
	
}

#imgee33{
	width:422px;
	height:249px;
	position:absolute;
	left:34px;
	margin-top:20px;
	top: 13px;
	
}

#txtt{
	width:422px;
	height:17px;
	overflow:auto;
	position:absolute;
	margin-left:13px;
	margin-top:280px;
	font-family:Tahoma, Geneva, sans-serif;
	left: 30px;
	top: 5px;
}

#pl2{
	width:65px;
	height:66px;
	position:absolute;
	background-image:url(playvideo-64-64-0.png);
	left: 216px;
	top: 138px;
}
	
	
